--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg120+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: applications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.applications (
    application_id bigint NOT NULL,
    city character varying(255),
    created_at timestamp without time zone,
    description character varying(1000),
    email character varying(255),
    first_name character varying(255),
    last_name character varying(255),
    phone_number character varying(255),
    pet_id bigint NOT NULL,
    status character varying(255)
);


ALTER TABLE public.applications OWNER TO postgres;

--
-- Name: pets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pets (
    pet_id bigint NOT NULL,
    age integer NOT NULL,
    breed character varying(255),
    category character varying(255),
    color character varying(255),
    gender character varying(255),
    image_url character varying(255),
    location character varying(255),
    name character varying(255),
    weight double precision NOT NULL
);


ALTER TABLE public.pets OWNER TO postgres;

--
-- Data for Name: applications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pets; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pets (pet_id, age, breed, category, color, gender, image_url, location, name, weight) FROM stdin;
1	3	Labrador	DOG	Brown	Male	/images/fido.jpg	Kigali	Fido	15.5
4	2	Siamese	CAT	White	Female	/images/whiskers.jpeg	Turin	Whiskers	5
6	2	Siamese	CAT	White	Female	/images/whiskers.jpeg	Turin	Whiskers	5
5	3	Corgi	DOG	Brown	Female	/images/peggy.jpeg	Turin	Peggy	25
7	5	Golden retriever	DOG	Brown	Female	/images/max.jpeg	Kigali	Max	25
\.


--
-- Name: applications applications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_pkey PRIMARY KEY (application_id);


--
-- Name: pets pets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pets
    ADD CONSTRAINT pets_pkey PRIMARY KEY (pet_id);


--
-- Name: applications fkdq4qd0nsks530qdvppgdd1ui3; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT fkdq4qd0nsks530qdvppgdd1ui3 FOREIGN KEY (pet_id) REFERENCES public.pets(pet_id);


--
-- PostgreSQL database dump complete
--

